html,


a {

  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #F5DEB3;
  --main-color2: #66CDAA;
  --button-color: #FFC0CB;
  --button-color: #FFA500;
  --font-color: #FAF0E6;
  --font-color2: #4682B4;

}