.container {
    max-width: 1200px;
    margin: 0 auto;

}

.main {
    padding: 0rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-color);
    color: var(--font-color2);
    height: 10vh;
    margin-bottom: -10vh;
    position: relative;
  }

.wrapper1 {
    display: flex;
    justify-content: space-between;
}
.wrapper2 {
    display: flex;
    justify-content: space-between;
}
.language {
    padding-left: 3rem;
  }
.menuItem{
    padding-left: 1rem;
}






